body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-offers-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-header {
  background-color: #eee;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main-menu-link {
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.main-menu-list {
  list-style-type: none;
}

.main-menu-link-active,
.cart {
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.main-menu-link:hover,
.main-menu-link:focus,
.cart:hover,
.cart:focus {
  color: #fb565a;
}

.main-menu-link:active,
.cart:active {
  color: #000;
  opacity: .3;
}

.logo-active:hover,
.logo-active:focus {
  opacity: .8;
}

.logo-active:active {
  opacity: .3;
}

.cart::before {
  content: "";
  display: block;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.main-slider {
  background-color: #eee;
}

.main-slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.main-slider-text {
  color: #283136;
}

.btn-slider {
  background-color: #fb565a;
}

.btn-slider:hover,
.btn-slider:focus {
  background-color: #e74246;
}

.btn-slider:active {
  background-color: #d7373b;
  color: rgba(255,255,255,.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,.1);
}

.btn {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.btn-order-red {
  background-color: #fb565a;
}

.btn-order-red:hover,
.btn-order-red:focus {
  background-color: #e74246;
}

.btn-order-red:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
  box-shadow: 0 3px 0 0 rgba(0,0,0,.1) inset;
}

.btn-order-green {
  background-color: #00ca74;
}

.btn-order-green:hover,
.btn-order-green:focus {
  background-color: #00bc6c;
}

.btn-order-green:active {
  background-color: #00aa62;
  color: rgba(255,255,255,0.3);
  box-shadow: 0 3px 0 0 rgba(0,0,0,.1) inset;
}

.btn-order-gold {
  background-color: #efc84a;
}

.btn-order-gold:hover,
.btn-order-gold:focus {
  background-color: #eab534;
}

.btn-order-gold:active {
  background-color: #e5a722;
  color: rgba(255,255,255,0.3);
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.1) inset;
}

.btn-price {
  background-color: #fb565a;
}

.btn-price:hover,
.btn-price:focus {
  background-color: #e74246;
}

.btn-price:active {
  background-color: #d7373b;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.1) inset;
}

.about-resume > b {
  font-size: 45px;
  line-height: 45px;
}
.about-resume > p {
  color: #283136;
}

.about-list-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.about-list {
  list-style-type: none;
}

.advantages-table {
  width: 453px;
}

.advantages-title {
  font-weight: 700;
  text-align: start;
  padding-left: 17px;
  text-transform: uppercase;
}

.advantages-stat {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.advantages-percent {
  vertical-align: super;
  font-size: 26px;
  font-weight: 500;
}

.advantages-text {
  line-height: 18px;
  color: #283136;
}

.write-us > strong {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.write-us > p {
  line-height: 18px;
  color: #666;
}

.write-us-button {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 16px;
  background-color: #fb565a;
}

.footer-text > b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-text > p {
  line-height: 22px;
  color: #283136;
}

.popup-close-btn {
  background-image: url("../img/close-cross.png");
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0;
  outline: 0;
  border: 0;
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: .3;
}

.popup-close-btn:hover,
.popup-close-btn:focus {
  opacity: 1;
}

.popup-close-btn:active {
  opacity: .1;
}

.popup > b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.popup-send-btn {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #fb565a;
}

.main-logo-partners-img {
  opacity: .3;
}

.main-logo-partners-img:hover,
.main-logo-partners-img:focus {
  opacity: 1;
}

.main-logo-partners-img:active {
  opacity: .1;
}

.popup-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.popup-input {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  border: 2px solid #d7dcde;
  font-size: 16px;
  line-height: 18px;
  opacity: .5;
}

.popup-input:hover {
  border: 2px solid #b4b9bb;
  opacity: .5;
}

.popup-input:focus {
  border: 2px solid #000;
  outline: 0;
  opacity: 1;
}

.popup-input:invalid {
  border: 2px solid #e74246;
  color: #e74246;
  opacity: 1;
}

.page-title {
  background-color: #eee;
}

.page-title-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-sort > span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-form {
  font-size: 16px;
  background-color: #eee;
  color: #000;
}

.btn-form:hover,
.btn-form:focus {
  background-color: #dfdfdf;
}

.btn-form:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: 0 3px 0 0 rgba(255,255,255,0.1) inset;
}

.catalog-filter-price-form > span {
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283136;
}

fieldset {
  border: 0;
}

.catalog-filter-label {
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

.catalog-filter-label:hover,
.catalog-filter-label:focus {
  color: #000;
}

.catalog-sort-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  opacity: .3;
}

.catalog-sort-link:hover,
.catalog-sort-link:focus {
  opacity: .6;
}

.catalog-sort-link:active {
  opacity: 1;
}

.product::before{
  content: "";
  display: block;
  background: url("../img/browser.svg") no-repeat;
  height: 40px;
  opacity: .12;
}

.product:hover::before {
  opacity: 1;
}

.product-info {
  /*display: none;*/
  background-color: #eee;
}

/*.product:hover>.product-info {
  display: block;
}*/

.product-info > span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.product-info > p {
  line-height: 18px;
  color: #666;
}

.product-page-number > a {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: #eee;
  color:#000;
}

.product-page-number > a:hover,
.product-page-number > a:focus {
  background-color: #dfdfdf;
}

.product-page-number > a:active{
  background-color: #d5d5d5;
  color: #959595;
}

.social-links {
  display: flex;
}

.social-icon {
  background-color: #e1e1e1;
  border-radius: 50%;
  display: block;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #e74246;
}

.social-icon:active {
  background-color: #d7373b;
}

.social-icon-vk::after {
  content: "";
  display: block;
  background: url("../img/vk-icon.svg") no-repeat center;
  width: 77px;
  height: 77px;
  cursor: pointer;
}

.social-icon-fb::after {
  content: "";
  display: block;
  background: url("../img/fb-icon.svg") no-repeat center;
  width: 77px;
  height: 77px;
  cursor: pointer;
}

.social-icon-insta::after {
  content: "";
  display: block;
  background: url("../img/insta-icon.svg") no-repeat center;
  width: 77px;
  height: 77px;
  cursor: pointer;
}

.social-icon-vk:active::after {
  opacity: .3;
}

.social-icon-fb:active::after {
  opacity: .3;
}

.social-icon-insta:active::after {
  opacity: .3;
}

/*Накидала чтобы удобней было смотреть*/
.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 800px;
}
